doctype html
html
    include ./head.pug

    body
        h1 About me
        p.
            I'm a Product Engineer based in Sulaymaniyah/ Iraq, 
            I'd like to work with small and big companies
            as long as the comapny has a teamwork culture.

        include ./footer.pug