doctype html
html
    include ./head.pug
    body

        h1 #{message}
        a(href="/") Home

        include ./urlForm.pug

        if data
            include ./urlList.pug

        include ./footer.pug